*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    background-color: rgb(25, 155, 188);
    font-family: 'Roboto', sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#box{
    width: 40%;
    padding: 15px;
    box-shadow: 0 0 0 5 gray;
    background-color: white;
    border-radius: 8px;
}
.row{
    width: 100%;
    margin: 2rem;
    margin-left: 0;
}
.btn{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 8PX;
    background-color: rgb(134, 5, 233);
}
#quesBox{
    background-size: auto;
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(247, 223, 4);
}